<div class="all-flo">
    <div class="headline-flo">
        <h1>Semmelknödel</h1>
    </div>
    <div class="header-img-flo"></div>

    <div class="infos-flo">
        <div class="infos-grey">
            <img src="./img/icons/clock-regular.svg" alt="">
            <p>20 Min.</p>
        </div>
        <div class="infos-flo-abstand infos-grey">
            <img src="./img/icons/brain-solid.svg" alt="">
            <p>normal</p>
        </div>
        <div class="infos-grey">
            <img src="./img/icons/calendar-alt-regular.svg" alt="">
            <p>07.10.2021</p>
        </div>
    </div>

    <div class="line-flo"></div>

    <div class="anzahl-portionen-flo">
        <p>Zutaten für:</p><input class="input-flo" type="text"><button class="button-green-flo">Portionen</button>
    </div>

    <table class="zutaten-flo-all">
        <tr class="zutaten-flo-1">
            <td class="table-1">6</td>
            <td class="table-2">Semmeln (altbacken)</td>
        </tr>
        <tr class="zutaten-flo-2">
            <td class="table-1">3 EL</td>
            <td class="table-2">gehackte Petersilie</td>
        </tr>
        <tr class="zutaten-flo-1">
            <td class="table-1">10 g</td>
            <td class="table-2">Butter</td>
        </tr>
        <tr class="zutaten-flo-2">
            <td class="table-1">1</td>
            <td class="table-2">Zwiebel(n), fein gehackt</td>
        </tr>
        <tr class="zutaten-flo-1">
            <td class="table-1">250 ml</td>
            <td class="table-2">Milch</td>
        </tr>
        <tr class="zutaten-flo-2">
            <td class="table-1">3</td>
            <td class="table-2">Eier</td>
        </tr>
        <tr class="zutaten-flo-1">
            <td class="table-1"></td>
            <td class="table-2">Salz und Pfeffer, aus der Mühle</td>
        </tr>
        <tr class="zutaten-flo-2">
            <td class="table-1">evtl.</td>
            <td class="table-2">Semmelbrösel zum Binden</td>
        </tr>
    </table>

    <div class="zubereitung-flo">
        <h2>Zubereitung</h2>
    </div>
    <div class="infos-flo2">
        <div class="infos-flo-abstand2 infos-grey">
            <img src="./img/icons/clock-regular.svg" alt="">
            <p>ca. 20 Min.</p>
        </div>
        <div class="infos-grey">
            <img src="./img/icons/clock-regular.svg" alt="">
            <p>Gesamtzeit ca. 20 Min.</p>
        </div>
    </div>
    <div class="zubereitung-text-flo">
        <p>Die Semmeln in kleine Würfel oder in dünne Scheiben schneiden. Die gehackte Petersilie und die Zwiebel in
            der
            Butter ganz kurz anschwitzen, aber keine Farbe nehmen lassen, dann mit den Semmelwürfeln mischen. Die
            Milch
            bis kurz vorm Kochen erhitzen und über die Brotwürfel gießen. Etwa 10 Minuten quellen lassen.

            Die mit Salz und Pfeffer verquirlten Eier dazugeben und alles zu einem nicht zu festen Teig verrühren.
            Sollte der Teig doch zu weich sein, etwas Semmelbrösel einrühren, kein Mehl verwenden.

            Mit nassen Händen tennisballgroße Knödel formen und in der siedenden, aber nicht sprudelnd kochenden
            Flüssigkeit (Salzwasser oder Brühe) in 20 Minuten gar ziehen lassen, bis sie nach oben steigen.

            Semmelknödel sind die ideale Beilage zu Gulasch, Schweinebraten oder auch geschmorten Pilzen.</p>
    </div>

    <div class="creator-flo">
        <h3>Rezeptseite erstellt von:</h3>
        <div class="creator-flo-unten">
            <img class="profile-flo" src="./img/profile.png" alt="">
            <p><b>Florian</b></p>
        </div>
    </div>

</div>