<div id="start" class="header-body">
    <div class="header">
        <a class="header-logo" href="./index.html"><img src="./img/logo.png" alt=""></a>
        <div class="nav">
            <div id="nav-links">
                <a class="" href="./index.html">Startseite</a>|
                <a class="" href="#" onclick="generateRecepieLink()">Rezept des Tages</a>|
                <a class="" href="./kontakt.html">Kontakt</a>|
                <a class="" href="./impressum.html">Impressum</a>
            </div>
            <div id="dropDown" class="dropping"><button class="dropDown-button-switch" onclick="interactDD()">|||</button>
                <div id="dropDown-menu" class="dropping-menu opa-zero">
                    <a href="./index.html">Startseite</a>
                    <a href="#" onclick="generateRecepieLink()">Rezept des Tages</a>
                    <a href="./kontakt.html">Kontakt</a>
                    <a href="./impressum.html">Impressum</a>
                    <button class="dropDown-button-close" onclick="interactDD()">Schliessen</button>

                </div>
            </div>
        </div>
    </div>
</div>