

<div id="content">
<!--hier startet der inhalt-->
<div class="recepie">
<!--Rezept Name-->
    <div class="section-header">
        <span>Hamburger Franzbrötchen</span>
    </div>
<!--Rezept Bild-->
<div class="header-img-container">
    <img src="./img/nils/hamburger-franzbroetchen-original.jpg" alt="">
</div>
<!--Icons-->
<div class="icons-row botMargin">
<div class="icons-container">
    <img src="./img/icons/clock-regular.svg" alt="kleine Uhr">
    <span>45 Mins.</span>
</div>
<div class="icons-container">
    <img src="./img/icons/brain-solid.svg" alt="gehirn-icon">
        <span>easy</span>
</div>
<div class="icons-container">
    <img src="./img/icons/calendar-alt-regular.svg" alt="kalender icon">
        <span>22/6/2016</span>
</div>
</div>
<!--Tabellen Kopf-->
<div class="quantities">
    <div class="inputContainer">
    <label for="input-nils">Zutaten für:</label>
    <input id="input-nils" type="number" value="4" min="1">
    <button class="button-green" onclick="calc()">Portionen</button>
</div>
<button id="drinks-btn" class="drinks-btn" onclick="showDrinks()"><img src="./img/nils/drink.png" alt="Bild eines Kaltgetränks"></button>
</div>
<div id="drinksContainer" class="opa-zero">
    <div class="drinks-container">
        <img src="./img/nils/coffee.png" alt="Bild einer Kaffee-Tasse">
        <img src="./img/nils/drink.png" alt="Bild eines Kaltgetränks">
        <span>Ich empfehle einen ungesüßten Kaffe oder als Kalgetränk eine Johannisbeerschorle.</span>
    </div>
    
    <button class="drinks-btn" onclick="hideDrinks()">X</button>
</div>
<!--Zutaten Liste-->
<div class="section-header">
    <span>Zutaten</span>
</div>

<table>
    <tr>
    <td id="0" class="unit">600g</td>
    <td class="ingredient">Mehl</td>
    </tr>
    <tr>
    <td id="1" class="unit">20g</td>
    <td class="ingredient">Hefe</td>
    </tr>
    <tr>
    <td id="2" class="unit">250g</td>
    <td class="ingredient">Milch</td>
    </tr>
    <tr>
    <td id="3" class="unit">70g</td>
    <td class="ingredient">Zucker</td>
    </tr>
    <tr>
    <td id="4" class="unit">2TL</td>
    <td class="ingredient">Salz</td>
    </tr>
    <tr>
    <td id="5" class="unit">75g</td>
    <td class="ingredient">Butter</td>
    </tr>
    <tr>
    <td id="6" class="unit">30g</td>
    <td class="ingredient">Wasser</td>
    </tr>
    <tr>
    <td id="7" class="unit">1</td>
    <td class="ingredient">Eigelb</td>
    </tr>
    
    </table>
<!--Zubereitung-->
    <div class="section-header" style="margin-bottom: 0;">
        <span>Zubereitung</span>
    </div>

    <div class="icons-row">
        <div class="icons-container">
            <img src="./img/icons/clock-regular.svg" alt="kleine Uhr">
            <span>45 Mins.</span>
        </div>
        
        <div class="icons-container">
            <img src="./img/icons/clock-regular.svg" alt="kleine Uhr">
            <span>45 Mins.</span>
        </div>
        </div>
    
<!--Zubereitung body-->
<ul class="para-nils">
    <li>Die Milch, den Zucker und die Hefe in den  geben und3 Minuten / 37 Grad / Stufe 2 erwärmen.Restliche Zutaten zugeben und 5 Minuten kneten</li>
    <li>Den Teig, zugedeckt, an einem warmenOrt ca. 30 Minuten gehen lassen. </li>
    <li>Den Teig in der Schüssel auf den Tisch klopfen, so dass er in sichzusammen fällt und nochmals ca. 30 Minuten gehen lassen. Die Butter für die Füllung schmelzen.</li>
    <li>Den Teig, auf einem bemehlten Nudelbrett, rechteckig ausrollen(ca. 40 x 60cm). Die zerlassene Butter mit dem Zimt- u. Zuckergemisch verrührenund gleichmässig auf dem ausgerollten Teig verstreichen.</li>
    <li>Den Teig jetzt von der langen Seite her aufrollen.Mit einem scharfen Messer 3-4cm dicke Scheiben abschneiden.</li>
    <li>Rollen / Schneckle hochkant aufstellen und mit dem Stieleines Holzrührlöffels der Länge nach eindrücken, so dass an derSeite die Füllung herausquillt.</li>
    <li> Das Eigelb mit etwas Milch vermischen und das Gebäck damiteinstreichen</li>
    <li> Im vorgeheizten Backofen, 180 Grad  (Ober- und Unterhitze) ca. 15-20 Minuten backen. Der Zucker sollte leicht karamellisieren. </li>
    
    </ul>
<!--Abspann-->
    <div class="creator-container">
        <div class="section-header">Rezeptseite erstellt von:</div>
        <div class="creator">
            <img src="./img/nils/nils.jpg" alt="profile-picture">
            <span>Nils Spiller</span>
        </div>
        <div class="original topMargin botMargin">
            Das original Rezept wurde von Sylvia Riest auf chefkoch veröffentlicht
        </div>
    </div>




</div>

</div>










