<div id="content-start">
    <div class="first-row">
        <div>
            <a href="./wolfram.html"><img src="./img/wolfram/kaesespaetzle.jpg"
                alt="Bild eines Topfes Käsespätzle"></a>
        </div>
        <div class="produktinfo">
            <h2>Wolles Käsespätzle</h2>
            <p>Käsespätzle nach Wolframs Lieblings-Rezept sind Käsespätzle nach Art des Wolframs. Sie sind genauso zäh wie er und muffeln manchmal unter den Armen, aber man soll ja sein Brot unter den Armen verteilen, dann schmeckt es besser. Daher sind die Käsespätzle nicht mit Brot hergestellt, sondern mit Käse, den muss man nicht unter den Armen verteilen. Man denke nur mal daran, all den Käse unter den Armen verteilt. Dann hat man ja nur noch Spätzle, ohne Käse. So n Käse!</p>
            <a class="button-green" href="./wolfram.html">Rezept öffnen</a>
        </div>
    </div>

    <div class="second-row bg-lightgrey">


        <h2>Lust auf was neues?</h2>

        <div class="three-pic-row">
            <div class="img-container"><a href="./nils.html"><img src="./img/nils/hamburger-franzbroetchen-original.jpg" alt="Bild von Franzbrötchen"><span>Hamburger Franzbrötchen
                        </span></a></div>
            <div class="img-container"><a href="./florian.html"><img src="./img/florian/sivis-semmelknoedel.jpg"
                        alt="Bild von ein paar Semmelknödel"><span>Florians Semmelknödel</span></a></div>
            <div class="img-container"><a href="./wolfram.html"><img src="./img/wolfram/kaesespaetzle.jpg"
                        alt="Bild eines Topfes Käsespätzle"><span>Wolles Käsespätzle</span></a></div>
        </div>
    </div>
    <div class="third-row">
        <h2>Pfanne vs. Wok - Was ist besser?</h2>
        <div class="third-row-content">
            <div>
                <ul>
                    <li>Vorteile eines Woks sind, dass sehr schmeckhafte Gemüseallerlei angebraten und am Rand des Woks
                        warm
                        gehalten werden kann.</li>
                    <li>Nachteile eines Woks sind eine kleine Bratfläche und nicht für großes Bratgut geeignet.</li>
                    <li>Vorteile einer Pfanner sind die große Bratfläche, gleichmäßig verteilte Hitze am Pfannenboden.
                    </li>
                    <li>Nachteile einer Pfanne ist, dass sie keinen Warmhaltebereich für Speisen hat.</li>
                </ul>
                <p>Letztendlich entscheidet jeder für sich selbst, was er lieber verwendet. Am besten ist immer noch der
                    Topf, der kann für alles herhalten :)</p>
            </div>
            <img src="./img/wok.jpg" alt="">
        </div>
    </div>




</div>