<div class="content-recipe">
    <div class="header-recipe">
        <div>
            <h1>Käsespätzle nach Wolframs Lieblings-Rezept</h1>
        </div>
        <div class="header-recipe-img"><img src="./img/wolfram/kaesespaetzle_header.jpg" alt="Bild von Käsespätzle"></div>
    </div>

    <div class="content-recipe">
        <div class="content-recipe-head">
            <div class="content-recipe-duration">
                <img src="./img/wolfram/time-8-64.png" alt="Dauer"><span>55 Minuten</span>
            </div>

            <div class="content-recipe-brain">
                <img src="./img/wolfram/brain-2-64.png" alt="Anspruch"><span>Simple</span>
            </div>

            <div class="content-recipe-date">
                <img src="./img/wolfram/calendar-7-64.png" alt="Veröffentllichungsdatum"><span>11.10.2021</span>
            </div>

        </div>
        <div class="inputAmountRecipeNumber">
            <label for="contentRecipeNumber">Zubehör für:
                <input id="contentRecipeNumber" type="number" min="1" max="100" step="1" value="4">
            </label>
            <button id="contentRecipeCalculateQuantities" class="button-green" name="quantities" value="0"
                onclick="creatRecipeIngredientsTable()">Portionen</button>
        </div>
    </div>

    <div>
        <h2>Zutaten</h2>
        <table id="contentRecipeTable" class="content-recipe-table">
            <!-- <tr>
                <td class="content-recipe-amount">500</td>
                <td class="unit">g</td>
                <td class="description">Mehl</td>
            </tr>
            <tr>
                <td class="content-recipe-amount">6</td>
                <td class="unit">Stck.</td>
                <td class="description">Eier, Größe M</td>
            </tr>
            <tr>
                <td class="content-recipe-amount">200</td>
                <td class="unit">ml</td>
                <td class="description">Sprudelwasser</td>
            </tr>
            <tr>
                <td class="content-recipe-amount">300</td>
                <td class="unit">g</td>
                <td class="description">Käse (Emmentaler, Bergkäse, Limburger o.ä.)</td>
            </tr>
            <tr>
                <td class="content-recipe-amount">1</td>
                <td class="unit">Prise</td>
                <td class="description">Salz</td>
            </tr>
            <tr>
                <td class="content-recipe-amount">1</td>
                <td class="unit">TL</td>
                <td class="description">Salz, für das Kochwasser</td>
            </tr>
            <tr>
                <td class="content-recipe-amount">2</td>
                <td class="unit">Stck</td>
                <td class="description">Zwiebeln, groß</td>
            </tr>
            <tr>
                <td class="content-recipe-amount">2</td>
                <td class="unit">EL</td>
                <td class="description">Butter</td>
            </tr>
            <tr>
                <td class="content-recipe-amount">1</td>
                <td class="unit">EL</td>
                <td class="description">Butter, für die Schüssel</td>
            </tr> -->
        </table>

    </div>

    <div>
        <h2>Zubereitung</h2>
        <ol class="olZubereitung">
            <li>
                <span>
                    Zunächst das Mehl, die Eier, das Salz und das Mineralwasser zu einem glatten Teig verrühren. Dann
                    mit
                    einem
                    Holzlöffel etwa 2-3 Minuten kräftig rühren, bis der zähe Teig Blasen wirft.
                </span>
            </li>
            <li>
                <span>
                    Den Teig mit einem Küchentuch abdecken und mindestens 10 Minuten ruhen lassen. In der Zwischenzeit
                    die
                    Zwiebeln abziehen und in dünne Ringe schneiden, den Käse fein reiben.
                </span>
            </li>

            <li>
                <span>
                    Einen großen Topf mit Salzwasser zum Kochen bringen. Währenddessen den Backofen auf 80 °C
                    Ober-/Unterhitze
                    vorheizen und eine Schüssel mit der Butter hineinstellen.
                </span>
            </li>
            <li>
                <span>
                    Als nächstes 1/4 des Teigs in eine Spätzlereibe füllen und in das sprudelnde Wasser reiben. Die
                    Spätzle
                    mit
                    einer Schaumkelle aus dem Wasser heben, sobald sie an der Oberfläche schwimmen.
                </span>
            </li>
            <li>
                <span>
                    Die erste Portion Spätzle in die vorgewärmte Schüssel geben und 1/4 vom geriebenen Käse
                    darüberstreuen.
                    Die
                    nächsten drei Portionen auf die gleiche Weise zubereiten und im Backofen warm halten.
                </span>
            </li>
            <li>
                <span>
                    Nun einen Löffel Butter in einer Pfanne erhitzen und die Zwiebelringe darin etwa 8-10 Minuten
                    goldbraun
                    braten. Die Schwäbischen Käsespätzle aus dem Ofen nehmen, die gebratenen Zwiebeln darauf anrichten
                    und
                    sofort servieren.

                </span>
            </li>
        </ol>
    </div>

    <div>
        <h2>Tipps zum Rezept</h2>
        <p>Sie möchten Ihre Spätzle von Hand schaben? Ein Holzbrett mit Wasser befeuchten, eine Kelle Teig auf das Brett
            geben und vom schräg gehaltenen Brett mit einem Spätzleschaber oder einem Messer in dünnen Streifen direkt
            in das kochende Wasser schaben. Das braucht Übung, aber die macht ja bekanntlich den Meister.</p>
    </div>

    <div>
        <b>Rezeptseite erstellt von</b><br>
        <div class="divWolfram"><img class="pictureWolfram" src="./img/wolfram/wolfram.jpg"><span>Wolfram</span></div>
    </div>
    <div>
        <p>Originalrezept siehe auf: <a href="https://www.gutekueche.de/schwaebische-kaesespaetzle-rezept-9695"
                target="_blank">https://www.gutekueche.de</a></p>
    </div>
</div>